{% extends "Base.html"%}


{% block content %}


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Rahul Pramod Nandanwar</h1>
    <h5 class="display-8">Bachelor of Mechanical Engineering</h5>
    <h5 class="display-8">Currently working at LTI, Pune, ex-TCSer</h5>
    <h4 class="display-8">Data Scientist, Machine Learning Engineer</h4>
    <hr>
    <p> I am currently working as DATA SCIENTIST in Larsen and Tubro Infotech, Pune. I have
    4+ years of experience in IT industry. I have worked for Tata Consultancy Services, Pune.
    This website has build to showcase the data science and Machine learning applications practise by me and
      showcase the skills.
    I am highly interested in Data Science and Artificial Intelligence industry and open for opportunities.</p>

    <p class="lead"></p>
  </div>
</div>


{% endblock %}