{% extends "Base.html"%}

{% block content %}
<div class="alert alert-success" role="alert">
  <h4 align="center" "alert-heading">Please Free To Connect with us</h4>
  <hr>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Rahul Pramod Nandanwar</h1>
    <h5 class="display-8">Address - Flat No - 401, Vijay Park </h5>
    <h5 class="display-8">Opp to Fortune Business Center </h5>
    <h5 class="display-8">Chatrapati Chowk, Kaspate Wasti </h5>
    <h5 class="display-8">Wakad - 411057 </h5>
    <h5 class="display-8">Mob - +91-7588967963 </h5>
    <h5 class="display-8">Email us at - rahulnandanwar55@gmail.com </h5>
    <hr>
    <h4 class="display-8">You Can Connect with me on Linkdin, Facebook, Twitter and Instagram </h4>
    <h5 class="display-8">Linkdin - www.linkedin.com/in/rahulnandanwar55 </h5>
    <h5 class="display-8">facebook - www.linkedin.com/in/rhlnandanwar </h5>
    <h5 class="display-8">Linkdin - @RahulNandan55 </h5>
    <h5 class="display-8">Instagram - rahul_nandanwar_ </h5>
  </div>
</div>

{% endblock %}