{% extends "Base.html"%}
{% block content %}

<div class="p-3 mb-2 bg-gradient-success text-white">.bg-gradient-success</div>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading" align="center">Services offered by us...!!!</h4>
  <p align="center">Currently we are not offering any services on this platform.</p>
  <hr>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4 class="display-6">We are currently developing more applications. Stay Tuned for latest updates.</h4>
    <p class="lead">Thanks for your valuable time.</p>
  </div>
</div>

{% endblock %}