{% extends "Base.html"%}
{% block content %}


	<header>
		<div class="container">
		<div id="brandname">
			<h1 align="center"> NLP Based Machine Learning Application </h1>
		</div>
		<h2 align="center">Spam Detector For SMS Messages</h2>

	</div>
	</header>
	<p style="color:blue;font-size:20;text-align: center;"><b>Results for Comment</b></p>
	<div class="results">



	{% if prediction == 1%}
	<h2 style="color:red; text-align: center">Spam</h2>
	{% elif prediction == 0%}
	<h2 style="color:blue; text-align: center">Not a Spam (It is a Ham)</h2>
	{% endif %}

	</div>


{% endblock %}